<!doctype html>
<html>
  <head>
    <title>Register for <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Login to <%=shopData.shopName%></h1>
    <form method="POST" action="login_attempt">
        <p>Username: <input id="username" type="text" name="username" /></p>
        <p>Password: <input id="password" type="password" name="password"></p>
        <input type="submit" value="Login" />
      </form>
  </body>
</html>