<!doctype html>
<html>
  <head>
    <title>Register for <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%=shopData.shopName%></h1>
    <form method="POST" action="registered">
        <p>Username: <input id="username" type="text" name="username" /></p>
        <p>Password: <input id="password" type="password" name="password"></p>
        <p>First name: <input id="first" type="text" name="first" /></p>
        <p>Last name: <input id="last" type="text" name="last" /></p>
        <p>Email: <input id="email" type="email" name="email" /></p>
        <input type="submit" value="Register" />
      </form>
      <% if (errors.length > 0) { %>
        <ul style="color: red;">
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
      <% } %>
  </body>
</html>